
.event-modal.open {
    opacity: 1;
    visibility: visible;
}

.event-modal .modal-content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.event-modal .modal-content input,
.event-modal .modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.event-modal .modal-button-update, .event-modal .modal-button-cancel, .event-modal .modal-button-close {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.event-modal .modal-button-update:hover, .event-modal .modal-button-cancel:hover, .event-modal .modal-button-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.event-modal .modal-content h2 {
    margin-bottom: 20px;
}