.event-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
    width: 95%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.event-card h2 {
    color: white;
    margin-bottom: 10px;
}

.event-card .description {
    font-size: 0.95em;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.event-card p {
    margin: 5px 0;
    color: #e0e0e0;
}

.event-card .event-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.event-card .details-button, .event-card .edit-button, .event-card .delete-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.event-card .details-button:hover, .event-card .edit-button:hover, .event-card .delete-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}