/* src/components/SocialMedia.css */
.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    color: inherit; /* Inherits the color from parent if not specified */
    margin: 0 20px;
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.social-media a:hover {
    transform: scale(1.9); /* Slightly enlarge icon on hover */
}